<div class = "container">
	<div class = "jumbotron name-tag">		
		<i class = "name-tag center-me"><h1><%= current_user.tag %></h1>	
	</div>

	<div class = "row"> 
	<div class = "col-md-4">
		<div class = "jumbotron name-tag">
		<h2><%= @hero.name %></h2>
		</div>
	</div>
	<div class = "col-md-7">
		<div class = "row"> 
			<div class = "panel panel-default">
				<h3><b><i>Eliminations: </b><%= @data[@hero.name]["Eliminations"] %> </i></h3>						
		<div class = "row"> 
				<h3><b><i>Deaths:  </b> <%= @data[@hero.name]["Deaths"] %></i></h3>
			</div>
		</div>
	</div>

	</div>
</div>