<div class = "container">
	<div class = "jumbotron name-tag">		
		<i class = "name-tag center-me"><h1><%= current_user.tag %></h1>	
	</div>

	<div class = "row"> 
	<div class = "col-md-4">
		<div class = "jumbotron name-tag">
		<h2><%= @hero.name %></h2>
		</div>
	</div>
	<div class = "col-md-8">
		<div class = "row"> 
			<div class = "">
				
			</div>
		</div>
		<div class = "row"> asdfasdf</div>
	</div>

	</div>
</div>