<div class = "jumbotron dark">
	<div class="row">
		<% @heroes.each do |hero| %>
			<div class="col-xs-6 col-md-1 close-icon" >
				<div class="thumbnail"><%= link_to hero_path(hero) do %>
					<%= image_tag src=hero.icon %>
				<%end%>
					
				</div>				
			</div>



		<%end%>
	</div>
</div>