<div class="row" id = "chooser">
			<div class="col-xs-6 col-md-1 close-icon" >
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-1 close-icon">
				<a href="#" class="thumbnail">
					<img src="https://hydra-media.cursecdn.com/overwatch.gamepedia.com/3/3d/Icon-mercy.png?version=1c91cc1d91daa7ed561658de97bf6614" alt="...">
				</a>
			</div>

		</div>