<div class = "jumbotron dark">
	<div class="row">
		<% @heroes.each do |hero| %>
			<div class="col-xs-6 col-md-1 close-icon" >
				<a href="#" class="thumbnail">
					<%= image_tag src=hero.icon %>
				</a>
			</div>
		<%end%>
	</div>
</div>