<div class = "row">
		<div class = "col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Quick Play</h3>
				</div>
			  	<div class="panel-body">
			    	<i><strong> WINS: </strong>100</i><br>
			    	<i><strong>LOSES: </strong>100</i>
				</div>
			</div>
		</div>
		<div class = "col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Competitive Play</h3>
				</div>
			  	<div class="panel-body">
			    	<i><strong> WINS: </strong>100<br>
			    	<strong>LOSES: </strong>100<br>
			    		<strong>Rank: </strong>100</i>
			    </div>
			</div>		
		</div>
	</div>